<ion-view>
        <ion-header-bar class="bar-stable">
            <link href="../css/carrierastudent.css" rel="stylesheet">
            <img src="/img/Logo.svg">
            <div class="buttons">
            <button class="button button-clear" ui-sref="student"><b><h3>Menu</b></h3></button> 
            </div>
  </ion-header-bar>
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">


        <br>
        <br>
    <h3>Carriera: </h3>
        <label class="item item-input">
            chimica:
            <ul>
                <li>  voto:{{carriera.msg.chimica.voto}}</li>
                <li  >data:{{carriera.msg.chimica.data}}</li>
                <li>  cfu:{{carriera.msg.chimica.cfu}}</li>
                <li>  anno:{{carriera.msg.chimica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            biochimica: <ul>
                <li>voto:{{carriera.msg.biochimica.voto}}</li>
                <li>data:{{carriera.msg.biochimica.data}}</li>
                <li>cfu:{{carriera.msg.biochimica.cfu}}</li>
                <li>anno:{{carriera.msg.biochimica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            chimica_organica:  <ul>
                <li>voto:{{carriera.msg.chimica_organica.voto}}</li>
                <li>data:{{carriera.msg.chimica_organica.data}}</li>
                <li>cfu:{{carriera.msg.chimica_organica.cfu}}</li>
                <li>anno:{{carriera.msg.chimica_organica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            chimica_analitica: <ul>
                <li>voto:{{carriera.msg.chimica_analitica.voto}}</li>
                <li>data:{{carriera.msg.chimica_analitica.data}}</li>
                <li>cfu:{{carriera.msg.chimica_analitica.cfu}}</li>
                <li>anno:{{carriera.msg.chimica_analitica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            chimica_alimenti:  <ul>
                <li>voto:{{carriera.msg.chimica_alimenti.voto}}</li>
                <li>data:{{carriera.msg.chimica_alimenti.data}}</li>
                <li>cfu:{{carriera.msg.chimica_alimenti.cfu}}</li>
                <li>anno:{{carriera.msg.chimica_alimenti.anno}}</li>
            </ul>
        </label>


    </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>